* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-montserrat), 'Arial';
  overflow-y: auto;
  min-height: 100vh;
  background-color: var(--bg-primary);
  transition: all 0.3s ease;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a,
input,
button {
  font-family: var(--font-montserrat), 'Arial';
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* тёмная тема */
:root,
.dark {
  --bg-primary: #181818;
  --bg-secondary: #4E4E4E;
  --bg-tertiary: #313131;
  --bg-scroll: #FFFFFF;
  --bg-scroll-track: rgba(75, 73, 73, 1);
  --text-primary: #FFFFFF;
  --bm-button: #d3d3d3;
  --skeleton-baseColor: #313131;
  --skeleton-highlight: #4E4E4E;
  --bg-barTime: linear-gradient(180deg, rgba(24, 24, 24, 0) 0%, #181818 100%);
  --bg-barPlayer: #181818;
  --bg-nav: #181818;
  --progress-bg-color: #2e2e2e;
}

/* светлая тема */
.light {
  --bg-primary: #FFFFFF;
  --bg-secondary: #F6F4F4;
  --bg-tertiary: #F6F4F4;
  --bg-scroll: #FFFFFF;
  --bg-scroll-track: #E0E0E0;
  --text-primary: #000000;
  --bm-button: #000000;
  --skeleton-baseColor: #F6F4F4;
  --skeleton-highlight: #E0E0E0;
  --bg-barTime: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
  --bg-barPlayer: #FFFFFF;
  --bg-nav: #F6F5F3;
  --progress-bg-color: #D9D9D9;
}

/* синхронизация скелетонов */
.react-loading-skeleton {
  animation-iteration-count: infinite !important;
  animation-direction: normal !important;
  animation-duration: 1.5s !important;
}
